<web-app xmlns="http://java.sun.com/xml/ns/javaee"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
      version="3.0">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>VerifyCitations</servlet-name>
  	<jsp-file>/jsp/verify-citations.jsp</jsp-file>
  </servlet>
  <servlet>
  	<servlet-name>BrokenInterwikiLinks</servlet-name>
  	<jsp-file>/jsp/broken-iw-links.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>VerifyCitations</servlet-name>
  	<url-pattern>/verify-citations</url-pattern>
  	<url-pattern>/verify-citations/entries</url-pattern>
  	<url-pattern>/verify-citations/review-log</url-pattern>
  	<url-pattern>/verify-citations/edit-log</url-pattern>
  	<url-pattern>/verify-citations/diff</url-pattern>
  	<url-pattern>/verify-citations/ranking</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BrokenInterwikiLinks</servlet-name>
  	<url-pattern>/broken-iw-links</url-pattern>
  </servlet-mapping>
  <resource-ref>
  	<description>DB connection: s52584__plwikt_verify_citations</description>
  	<res-ref-name>jdbc/VerifyCitations</res-ref-name>
  	<res-type>javax.sql.DataSource</res-type>
  	<res-auth>Container</res-auth>
  </resource-ref>
  <resource-ref>
  	<description>DB connection: plwiktionary</description>
  	<res-ref-name>jdbc/plwiktionary</res-ref-name>
  	<res-type>javax.sql.DataSource</res-type>
  	<res-auth>Container</res-auth>
  </resource-ref>
  <jsp-config>
  	<jsp-property-group>
  		<url-pattern>*.jspf</url-pattern>
		<page-encoding>UTF-8</page-encoding>
		<trim-directive-whitespaces>true</trim-directive-whitespaces>
  	</jsp-property-group>
  </jsp-config>
  <error-page>
  	<error-code>404</error-code>
  	<location>/jsp/error.jsp</location>
  </error-page>
  <error-page>
  	<exception-type>java.lang.Throwable</exception-type>
  	<location>/jsp/error.jsp</location>
  </error-page>
</web-app>
