<web-app xmlns="http://java.sun.com/xml/ns/javaee"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
      version="3.0">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>VerifyCitations</servlet-name>
  	<jsp-file>/jsp/verify-citations.jsp</jsp-file>
  </servlet>
  <servlet>
  	<servlet-name>BrokenInterwikiLinks</servlet-name>
  	<jsp-file>/jsp/broken-iw-links.jsp</jsp-file>
  </servlet>
  <servlet>
  	<servlet-name>BrokenInterwikiLinksQuery</servlet-name>
  	<servlet-class>com.github.wikibot.webapp.BrokenInterwikiLinksServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EomBacklinks</servlet-name>
  	<jsp-file>/jsp/eom-backlinks.jsp</jsp-file>
  </servlet>
  <servlet>
  	<servlet-name>VerifyCitationsAPI</servlet-name>
  	<servlet-class>com.github.wikibot.webapp.VerifyCitationsAPI</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PrettyRefServlet</servlet-name>
  	<servlet-class>com.github.wikibot.webapp.PrettyRefServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>NKJPGenerator</servlet-name>
  	<servlet-class>com.github.wikibot.webapp.NKJPGenerator</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WebLists</servlet-name>
  	<jsp-file>/jsp/weblists.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>MissingPlwiktRefsOnPlwiki</servlet-name>
    <servlet-class>com.github.wikibot.webapp.MissingPlwiktRefsOnPlwiki</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MissingPlwiktRefsOnPlwikiAPI</servlet-name>
    <servlet-class>com.github.wikibot.webapp.MissingPlwiktRefsOnPlwiki</servlet-class>
    <init-param>
        <param-name>API</param-name>
        <param-value>yes</param-value>
    </init-param>
  </servlet>
  <servlet>
  	<servlet-name>MissingPolishExamples</servlet-name>
  	<servlet-class>com.github.wikibot.webapp.MissingPolishExamples</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MissingPolishExamplesAPI</servlet-name>
    <servlet-class>com.github.wikibot.webapp.MissingPolishExamples</servlet-class>
    <init-param>
        <param-name>API</param-name>
        <param-value>yes</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>SandboxRedirects</servlet-name>
    <servlet-class>com.github.wikibot.webapp.SandboxRedirects</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MissingPlwikinewsRefsOnPlwiki</servlet-name>
    <servlet-class>com.github.wikibot.webapp.MissingPlwikinewsRefsOnPlwiki</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MissingPlwikinewsRefsOnPlwikiAPI</servlet-name>
    <servlet-class>com.github.wikibot.webapp.MissingPlwikinewsRefsOnPlwiki</servlet-class>
    <init-param>
        <param-name>API</param-name>
        <param-value>yes</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>LonelyPages</servlet-name>
    <servlet-class>com.github.wikibot.webapp.LonelyPages</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LonelyPagesAPI</servlet-name>
    <servlet-class>com.github.wikibot.webapp.LonelyPages</servlet-class>
    <init-param>
        <param-name>API</param-name>
        <param-value>yes</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>VerifyCitations</servlet-name>
  	<url-pattern>/verify-citations/*</url-pattern>
  	<url-pattern>/verify-citations/entries</url-pattern>
  	<url-pattern>/verify-citations/review-log</url-pattern>
  	<url-pattern>/verify-citations/change-log</url-pattern>
  	<url-pattern>/verify-citations/edit-log</url-pattern>
  	<url-pattern>/verify-citations/diff</url-pattern>
  	<url-pattern>/verify-citations/ranking</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VerifyCitationsAPI</servlet-name>
  	<url-pattern>/verify-citations/api</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BrokenInterwikiLinks</servlet-name>
  	<url-pattern>/broken-iw-links</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BrokenInterwikiLinksQuery</servlet-name>
  	<url-pattern>/broken-iw-links/query</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EomBacklinks</servlet-name>
  	<url-pattern>/eom-backlinks</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PrettyRefServlet</servlet-name>
  	<url-pattern>/pretty-ref</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>NKJPGenerator</servlet-name>
  	<url-pattern>/nkjp-generator</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WebLists</servlet-name>
    <url-pattern>/weblists/*</url-pattern>
    <url-pattern>/weblists/plwikt-polish-masculine-nouns</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MissingPlwiktRefsOnPlwiki</servlet-name>
    <url-pattern>/weblists/plwikt-missing-plwiki-backlinks</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MissingPlwiktRefsOnPlwikiAPI</servlet-name>
    <url-pattern>/weblists/plwikt-missing-plwiki-backlinks/api</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MissingPolishExamples</servlet-name>
  	<url-pattern>/weblists/plwikt-missing-polish-examples</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MissingPolishExamplesAPI</servlet-name>
    <url-pattern>/weblists/plwikt-missing-polish-examples/api</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SandboxRedirects</servlet-name>
    <url-pattern>/weblists/plwiki-sandbox-redirects</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MissingPlwikinewsRefsOnPlwiki</servlet-name>
    <url-pattern>/weblists/plwikinews-missing-plwiki-backlinks</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MissingPlwikinewsRefsOnPlwikiAPI</servlet-name>
    <url-pattern>/weblists/plwikinews-missing-plwiki-backlinks/api</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LonelyPages</servlet-name>
    <url-pattern>/weblists/eswikt-lonely-pages</url-pattern>
    <url-pattern>/lonely-pages</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LonelyPagesAPI</servlet-name>
    <url-pattern>/weblists/eswikt-lonely-pages/api</url-pattern>
    <url-pattern>/eswikt-lonely-pages/api</url-pattern>
  </servlet-mapping>
  <resource-ref>
  	<res-ref-name>jdbc/meta</res-ref-name>
  	<res-type>javax.sql.DataSource</res-type>
  	<res-auth>Container</res-auth>
  </resource-ref>
  <resource-ref>
  	<res-ref-name>jdbc/tools-db</res-ref-name>
  	<res-type>javax.sql.DataSource</res-type>
  	<res-auth>Container</res-auth>
  </resource-ref>
  <resource-ref>
  	<res-ref-name>jdbc/VerifyCitations</res-ref-name>
  	<res-type>javax.sql.DataSource</res-type>
  	<res-auth>Container</res-auth>
  </resource-ref>
  <resource-ref>
  	<res-ref-name>jdbc/EomBacklinks</res-ref-name>
  	<res-type>javax.sql.DataSource</res-type>
  	<res-auth>Container</res-auth>
  </resource-ref>
  <resource-ref>
  	<res-ref-name>jdbc/plwikt-common</res-ref-name>
  	<res-type>javax.sql.DataSource</res-type>
  	<res-auth>Container</res-auth>
  </resource-ref>
  <resource-ref>
  	<res-ref-name>jdbc/plwiktionary-web</res-ref-name>
  	<res-type>javax.sql.DataSource</res-type>
  	<res-auth>Container</res-auth>
  </resource-ref>
  <resource-ref>
    <res-ref-name>jdbc/plwiktionary-analytics</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <resource-ref>
  	<res-ref-name>jdbc/plwiki-web</res-ref-name>
  	<res-type>javax.sql.DataSource</res-type>
  	<res-auth>Container</res-auth>
  </resource-ref>
  <resource-ref>
    <res-ref-name>jdbc/plwiki-analytics</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <resource-ref>
  	<res-ref-name>jdbc/plwikinews-web</res-ref-name>
  	<res-type>javax.sql.DataSource</res-type>
  	<res-auth>Container</res-auth>
  </resource-ref>
  <resource-ref>
    <res-ref-name>jdbc/plwikinews-analytics</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <jsp-config>
  	<jsp-property-group>
  		<url-pattern>*.jspf</url-pattern>
		<page-encoding>UTF-8</page-encoding>
		<trim-directive-whitespaces>true</trim-directive-whitespaces>
  	</jsp-property-group>
  </jsp-config>
  <error-page>
  	<error-code>404</error-code>
  	<location>/jsp/error.jsp</location>
  </error-page>
  <error-page>
  	<exception-type>java.lang.Throwable</exception-type>
  	<location>/jsp/error.jsp</location>
  </error-page>
</web-app>
